/target/
*/target/**
**/META-INF/
!.mvn/wrapper/maven-wrapper.jar
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

/.idea/
/.metadata/
tienda_en_linea_RG1.iml

.classpath
**/.classpath

*.log
*.log.*

**/.settings
.settings

**/.vscode
.vscode/**
.vscode/
.vscode

**/kubernetes
**/loadbalancer
README.md